[flake8]
# E123,E133,E226,E241,E242 are ignored by default by pep8 and flake8
# F811 is legal in odoo 8 when we implement 2 interfaces for a method
# [EXT-37]Ignore complexity(C901) and list comprehension error(F812)
# Line break should be before operator (W503 ignored and W504 is pep8)
ignore = E123,E133,E226,E241,E242,F811,C901,F812,D100,D101,D400,D102,D403,D210,D205,D202,W503
max-line-length = 100
exclude = .git,__init__.py
max-complexity = 10
per-file-ignores =
  **/init.py:F401
