[submodule "custom/web"]
	path = custom/web
	url = git@github.com:OCA/web.git
	branch = 16.0
[submodule "custom/queue"]
	path = custom/queue
	url = git@github.com:OCA/queue.git
	branch = 16.0
[submodule "custom/server-backend"]
	path = custom/server-backend
	url = git@github.com:OCA/server-backend.git
	branch = 16.0
[submodule "custom/server-tools"]
	path = custom/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 16.0
