version: "3.7"
# Base for running docker

volumes:
  odoo_data:
  postgres_odoo:

services:
  odoo:
    build:
      context: .
      args:
        ODOO_VERSION: "16.0"
        DEV_UID: "${DEV_UID}"
    env_file: .env
    environment:
      PGHOST: db
      PGPORT: 5432
    
    restart: unless-stopped

    ports:
      - "8069"

    volumes:
      - odoo_data:${ODOO_DATA_DIR}
      - ./custom:${ODOO_EXTRA_ADDONS}:cached
    command: ["odoo-bin", "--dev", "xml"]
    depends_on:
      - db

  db:
    image: postgres:12
    restart: unless-stopped
    volumes:
      - postgres_odoo:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=${PGPASSWORD}
      - POSTGRES_USER=${PGUSER}
      - PGDATA=/var/lib/postgresql/data
