# linting and formatting
black
flake8
isort
pylint-odoo

# debugging and tools
debugpy
ipython
py-spy

# fix version for python 3.10.6
prompt-toolkit==3.0.28

# unit testing
pytest-odoo
websocket-client  # for chrome
