# Base image
ODOO_VERSION=master
# DOCKER_BASE_IMAGE=

# PostgreSQL configuration
POSTGRES_VERSION=16
PGPASSWORD=odoo
PGUSER=odoo

# Auto Install dependencies or run Tests
PIP_AUTO_INSTALL=1
UPGRADE_ENABLE=0
DEBUGPY_ENABLE=1

# Odoo Configuration file defaults
ODOO_ADMIN_PASSWD=odooadmin
PGDATABASE=odoo
# PGDATABASE_TEMPLATE=template0
# PGSSLMODE=prefer
# ODOO_DBFILTER=.*
# ODOO_LIMIT_MEMORY_HARD=2684354560
# ODOO_LIMIT_MEMORY_SOFT=2147483648
ODOO_LIMIT_TIME_CPU=600
ODOO_LIMIT_TIME_REAL=1200
# ODOO_LIMIT_TIME_REAL_CRON=600
# ODOO_LIST_DB=True
# ODOO_LOG_DB=False
# ODOO_LOG_DB_LEVEL=warning
# ODOO_LOG_FILE=None
# ODOO_LOG_HANDLER=:INFO
# ODOO_MAX_CRON_THREADS=2
# ODOO_PROXY_MODE=False
# ODOO_SERVER_WIDE_MODULES=base,web,rpc
# ODOO_SMTP_PASSWORD=False
# ODOO_SMTP_PORT=25
# ODOO_SMTP_SERVER=localhost
# ODOO_SMTP_SSL=False
# ODOO_SMTP_USER=False
ODOO_UNACCENT=True
ODOO_WITH_DEMO=True
ODOO_WORKERS=0
