[MASTER]
ignore=.git,studio_customization
persistent=yes
load-plugins=pylint.extensions.docstyle,pylint.extensions.mccabe,pylint_odoo
extension-pkg-whitelist=lxml

[ODOOLINT]
readme-template-url="https://github.com/OCA/maintainer-tools/blob/master/template/module/README.rst"
manifest-required-authors=Odoo Community Association (OCA),Krzysztof Magusiak
manifest-required-keys=license,author
manifest-deprecated-keys=description,active
manifest-version-format=\d+(.\d+)+
#valid-odoo-versions=16.0
license-allowed=AGPL-3,GPL-2,GPL-2 or any later version,GPL-3,GPL-3 or any later version,LGPL-3
method-required-super=create,write,read,unlink,copy,setUp,setUpClass,tearDown,default_get

[MESSAGES CONTROL]
disable=all

# some disabled rules that can be interesting for teams
# - manifest-required-author
enable=async,logging,method_args,modified_iteration,stdlib,
    anomalous-backslash-in-string,
    arguments-differ,
    arguments-renamed,
    assignment-from-none,
    attribute-deprecated,
    attribute-deprecated,
    consider-merging-classes-inherited,
    deprecated-module,
    duplicate-key,
    eval-used,
    except-pass,
    external-request-timeout,
    function-redefined,
    invalid-commit,
    license-allowed,
    manifest-author-string,
    manifest-deprecated-key,
    manifest-required-key,
    manifest-version-format,
    method-compute,
    method-inverse,
    method-required-super,
    method-search,
    missing-final-newline,
    missing-return,
    no-self-argument,
    no-write-in-compute,
    odoo-addons-relative-import,
    odoo-exception-warning,
    overridden-final-method,
    print-used,
    redundant-keyword-arg,
    reimported,
    renamed-field-parameter,
    resource-not-exist,
    return-in-init,
    sql-injection,
    too-few-format-args,
    too-many-branches,
    too-many-lines,
    translation-field,
    translation-format-interpolation,
    translation-not-lazy,
    translation-required,
    translation-too-few-args,
    translation-too-many-args,
    undefined-loop-variable,
    unknown-option-value,
    unneeded-not,
    unreachable,
    unrecognized-option,
    unspecified-encoding,
    unused-variable,
    use-vim-comment,
    used-before-assignment,
    useless-parent-delegation,

[REPORTS]
msg-template={path}:{line}: [{msg_id}({symbol}), {obj}] {msg}
output-format=colorized
reports=no
score=no
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)

[FORMAT]
indent-string='    '
expected-line-ending-format=LF
max-line-length=100
ignore-long-lines=^\s*(# )?<?https?://\S+>?$

[SIMILARITIES]
min-similarity-lines=4
ignore-comments=yes
ignore-docstrings=yes

[MISCELLANEOUS]
notes=FIXME,TODO,XXX

[BASIC]
good-names=i,j,k,ex,Run,_
function-rgx=[a-z_][a-z0-9_]{2,30}$
variable-rgx=[a-z_][a-z0-9_]{2,30}$
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__))$
attr-rgx=[a-z_][a-z0-9_]{2,30}$
argument-rgx=[a-z_][a-z0-9_]{2,30}$
class-attribute-rgx=([A-Za-z_][A-Za-z0-9_]{2,30}|(__.*__))$
inlinevar-rgx=[A-Za-z_][A-Za-z0-9_]*$
class-rgx=[A-Z_][a-zA-Z0-9]+$
module-rgx=(([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$
method-rgx=[a-z_][a-z0-9_]{2,30}$
no-docstring-rgx=^_
docstring-min-length=-1

[DESIGN]
max-complexity=15
max-args=8
ignored-argument-names=_.*
max-locals=15
max-returns=8
max-branches=12
max-statements=50
max-parents=7
max-attributes=12
min-public-methods=1
max-public-methods=30
max-bool-expr=10

[ELIF]
max-nested-blocks=4

[VARIABLES]
init-import=no
dummy-variables-rgx=_+.*|dummy

[IMPORTS]
deprecated-modules=pdb,pudb,ipdb,openerp.osv
